
/* цвет основного текста белый #FFFFFF */

/* цвет вторичного текста черный #212121 */

/* акцент голубой #2196F3; */

/* цвет параграфа rgba(117, 117, 117, 1) */


body {
    font-family: 'Roboto', sans-serif;
}

/* верхній список посилань */

.header {
    background-color: #FFFFFF;
}


.header-logo {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.list-active-link {
    color: #2196F3;
}

.header-auth-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}

/* секція ефективні рішення */

.title {
    background-color: #2F303A;
}

.title-one {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* кнопка */

.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.button:focus, 
.button:hover {
    background: #2196F3;
}

.button {
    background-color: #2196F3;
}

/* секія переваги */

.section {
    background-color: #F5F5F5;
}


.header-link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* .section-one {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
} */

.section-list > h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}

/* .section-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
        /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1)
}  */

/* секція чим ми займаємося */

.desc {
    background-color: #F5F5F5;
}


.desc-one {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

/* якщо кртинки не стануть в правильне місце - видалити позицію нижче */
.desc-list list {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1058px;
}

/* секція наша команда */

.caption {
    background-color: #F5F4FA;
}

/* .caption-teo list {
    position: absolute;
    width: 1170px;
    height: 368px;
    left: 215px;
    top: 1632px;
}

.caption-two > li {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 1632px;
} */

/* секція контакти */

.footer {
    background-color: #2F303A;
}

/* нижній список посилань */

.logo {
    text-decoration: none;
}

.footer-list list {
    text-decoration: none;
}

.subtitle-one,
.desc-one,
.caption-one {
    color: #212121;
}


/* ссилка на пошту */

.header-mailto-link {
    text-decoration: none;
}

.header-mailto-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

/* ссилка на телефон */
.header-tel-link {
    text-decoration: none;
}

.header-tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
