
/* цвет основного текста белый #FFFFFF */

/* цвет вторичного текста черный #212121 */

/* акцент голубой #2196F3; */

/* цвет параграфа rgba(117, 117, 117, 1) */


body {
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

/* верхній список посилань */

.header {
    background-color: #FFFFFF;
}


.header-logo {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.list-active-link {
    color: #2196F3;
}

.header-auth-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}
.list {
    list-style: none;
}

/* секція ефективні рішення */

.title {
    background-color: #2F303A;
}

.title-one {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* кнопка */

.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.button:focus, 
.button:hover {
    background: #2196F3;
}

.button {
    background-color: #2196F3;
}

/* секія переваги */

.section {
    background-color: #F5F5F5;
}

.header-link {
    text-decoration: none;
}

.section-list > li > h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}

.section-list > li > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
}

/* секція чим ми займаємося */

.desc {
    background-color: #F5F5F5;
}

.desc-one {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.list {
    list-style: none;
}

/* якщо кртинки не стануть в правильне місце - видалити позицію нижче */
.desc-list > img {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1058px;
    background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
    mix-blend-mode: normal;
}

/* секція наша команда */

.caption {
    background-color: #F5F4FA;
}

.caption-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* секція карток */

.caption-list > img + h3 + p {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 515px;
    top: 1632px;
}

.caption-two > h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.caption-two > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* секція контакти */

.footer {
    background-color: #2F303A;
}

/* нижній список посилань */

.logo {
    text-decoration: none;
    color:rgba(255, 255, 255, 1);
}

.footer-list {
    text-decoration: none;
}


/* ссилка на пошту */

.footer-mailto-link {
    text-decoration: none;
}

.footer-mailto-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

/* ссилка на телефон */
.footer-tel-link {
    text-decoration: none;
}

.header-tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

/* всвмавмвамчсмчсм */