
/* цвет основного текста черный #212121 */

/* цвет вторичного текста белый #757575 */

/* акцент голубой #2196F3; */

/* фон кнопки голубий #2196F3*/

/* цвет параграфа rgba(117, 117, 117, 1) */

/* секція рішення текст білий #FFFFFF */

body {
    font-family: 'Roboto', sans-serif;
    color: #757575;
}

/* .list {
    list-style: none;
} */

/* верхній список посилань */



/* секція ефективні рішення */



/* кнопка */



/* секія переваги */



/* секція чим ми займаємося */



/* секція наша команда */


/* секція карток */



/* секція контакти */


/* нижній список посилань */


/* ссилка на пошту */


/* ссилка на телефон */

